<div class="mainWrapper">
  <div class="FirstPart">
    <div class="backGround">
      <div class="headertext">
        <h1>Url Shortner</h1>
      </div>
      <div class="urlInput">
        <mat-form-field appearance="outline">
          <mat-label>Add Url</mat-label>
          <input matInput type="text" [(ngModel)]="url" [formControl]="name" />
          <mat-error *ngIf="name.touched && name.invalid">
            <span *ngIf="name.hasError('required')">Url is Required</span>
            <span *ngIf="name.hasError('pattern')">Url is Not Valid</span>
          </mat-error>
        </mat-form-field>
        <div>
          <button
            mat-flat-button
            color="warn"
            [disabled]="isSave"
            (click)="submit()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="SecondPart">
    <div>
      <mat-spinner *ngIf="showSpinner"></mat-spinner>
    </div>
    <div class="urlShow" *ngIf="hideUrl">
      <a class="openUrl" (click)="openUrl()">{{ newUrl }}</a>
      <countdown
        [config]="{ leftTime: 10, format: 's' }"
        (event)="handleEvent($event)"
        class="countDown"
      ></countdown>
      <!-- <span>10</span> -->
    </div>
  </div>
</div>
